.anime__slide__container {
    display: flex;
    align-items: flex-end;
    background-color: #252f49;
    height: 100%;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
}

.anime__slide__wrapper {
    display: flex;
    z-index: 999;
    padding: 3rem;
    width: 100%;
    color: #e2ebfb;
    gap: 10px;
}

@media screen and (max-width: 1000px) {
    .anime__swiper {
        height: 500px!important;
    }
    .anime__slide__wrapper img {
        display: none;
    }
}